<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Definición de Categorias Comerciales</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/lib/angular-material.css">
    <link rel="stylesheet" href="css/lib/angular-material-data-table/md-data-table.css" />
    <link rel="stylesheet" href="css/lib/sweetalert2.css">
    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/lib/paper-dashboard.css" />
    <link rel="stylesheet" href="css/lib/base.css" />
    <link rel="stylesheet" href="css/lib/icon.css" />
    <link rel="stylesheet" href="css/lib/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/lib/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/categorias_comerciales.css" />
</head>

<body ng-app="App" ng-cloak ng-controller="Ctrl">

    <div class="panel-body principal-panel">
        <div ng-include="'structure/title.html'"></div>
        <div ng-show="isLoading" class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                Cargando, Espere por favor...
            </div>
        </div>
        <div class="row" ng-show="!isLoading">
            <md-toolbar class="md-table-toolbar md-default" aria-hidden="false" style="background-color: #f4f3ef">
                <div class="md-toolbar-tools">
                    <div flex="" class="flex"></div>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showAdd()"
                        aria-label="Agregar">
                        <md-tooltip>Agregar Registro</md-tooltip>
                        <md-icon md-font-icon="fas fa-plus"></md-icon>
                        <div class="md-ripple-container"></div>
                    </button>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showEdit()"
                        aria-label="Editar">
                        <md-tooltip>Editar Registro</md-tooltip>
                        <md-icon md-font-icon="fas fa-pen"></md-icon>
                        <div class="md-ripple-container"></div>
                    </button>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showDelete()"
                        aria-label="Eliminar">
                        <md-tooltip>Eliminar Registro</md-tooltip>
                        <md-icon md-font-icon="fas fa-trash"></md-icon>
                        <div class="md-ripple-container"></div>
                    </button>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="clearSelected()"
                        aria-label="Clear">
                        <md-tooltip>Limpiar Seleccionado</md-tooltip>
                        <md-icon md-font-icon="fas fa-redo-alt"></md-icon>
                        <div class="md-ripple-container"></div>
                    </button>
                </div>
            </md-toolbar>
            <div class="col-md-6">
                <ul class="tree">
                    <li class="tree__item hasChildren" ng-repeat="categoria in categorias" ng-include="'categoriaTree'"></li>
                </ul>
            </div>
            <div class="col-md-6" style="padding: 1%">
                <form name="form">
                    <div class="row">
                        <div class="col-sm-3">
                            <md-input-container class="md-block">
                                <label>Padre</label>
                                <input disabled name="codCatPadre" ng-model="categoriaComercial.codCatPadre"
                                    ui-number-mask="2">
                                <div ng-messages="form.codCatPadre.$error">
                                    <div ng-message="required">Este campo es requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-sm-9">
                            <md-input-container class="md-block">
                                <label>Nombre Padre</label>
                                <input disabled name="nombrePadre" ng-model="categoriaComercial.nombrePadre"
                                    ui-number-mask="2">
                                <div ng-messages="form.nombrePadre.$error">
                                    <div ng-message="required">Este campo es requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="categoriaTree">
        <span>
            <div ng-if="categoria.items.length > 0" class="icon" ng-click="clickIcon($event)"></div>
            <a ng-mouseenter="$mdMenu.open()" ng-click="clickOption(categoria)">{{categoria.nombreCat}}</a>
        </span>        
        <ul ng-if="categoria.items.length > 0">
            <li class="tree__item hasChildren" ng-repeat="categoria in categoria.items" 
                ng-include="'categoriaTree'"></li>
        </ul>
    </script>
    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog>
            <form ng-cloak name="dialogForm">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{dialogConfig.title}}</h2>
                        <span flex></span>                        
                    </div>
                </md-toolbar>          
                <md-dialog-content>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <md-input-container class="md-block">
                                    <label>Código Categoría</label>
                                    <input required name="codCat" ng-model="record.codCat" ui-number-mask="2">
                                    <div ng-messages="dialogForm.codCat.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-sm-12">
                                <md-input-container class="md-block">
                                    <label>Nombre Categoría</label>
                                    <input required name="nombreCat" ng-model="record.nombreCat"
                                        ui-number-mask="2">
                                    <div ng-messages="dialogForm.nombreCat.$error">
                                        <div ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>                    
                </md-dialog-content>
                <md-dialog-actions layout="row">                                        
                    <md-button type="submit" class="md-primary md-raised edgePadding" ng-click="action(true,dialogForm)">Aceptar</md-button>
                    <md-button class="md-primary md-raised edgePadding" ng-click="action(false,dialogForm)">Cancelar</md-button>
                </md-dialog-actions>   
            </form>
        </md-dialog>                 
    </script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/lib/angular-1.7.2/angular.js"></script>
    <script src="js/lib/angular-1.7.2/angular-animate.min.js"></script>
    <script src="js/lib/angular-1.7.2/angular-aria.min.js"></script>
    <script src="js/lib/angular-1.7.2/angular-messages.min.js"></script>
    <script src="js/lib/angular-material/angular-material.js"></script>
    <!-- External Libraries -->
    <script type="text/javascript" src="js/lib/angular-material-data-table/md-data-table.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-sweetalert2/sweetalert2.js"></script>
    <script type="text/javascript" src="js/lib/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.js"></script>
    <!-- module -->
    <script src="js/lib/utils.js"></script>
    <script src="js/categorias_comerciales.js"></script>
</body>

</html>