<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="sweetalert/lib/sweet-alert.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/paper-dashboard.css" />
    <link rel="stylesheet" href="css/refer.css" />
    <link rel="stylesheet" href="css/icon.css" />
    <link rel="stylesheet" href="css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">

</head>

<body ng-app="App" ng-cloak ng-controller="Ctrl">
    <div class="panel-body principal-panel">
        <div ng-include="'structure/title.html'"></div>
        <div ng-show="isLoading" class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                Cargando, Espere por favor...
            </div>
        </div>
        <div class="panel-body" ng-show="!isLoading">
            <legend>Encabezado de la Cotización</legend>
            <div class="card">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Incoterm</label>
                                <md-select placeholder="Incoterm" ng-model="cot_enc.incoterm">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchIncoterm" type="search" placeholder="Buscar..." class="demo-header-searchbox md-text form-control"
                                            style="width: 100%">
                                    </md-select-header>
                                    <md-option ng-value="record" ng-repeat="record in incoterms | filter:searchIncoterm">{{record.codIncoterm}} - {{record.nombre}}</md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="seccion in secciones | filter:{tipoSeccion:'ENC'}">
                <div class="card">
                    <div class="panel-body">
                        <h4>{{seccion.nombreSec}}</h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Selecione contenido para {{seccion.nombreSec}}</label>
                                    <md-select placeholder="Contenido" ng-model="seccion.seleccionado" ng-change="setDescripcion($index+1,seccion.seleccionado.descripcion)"
                                        md-on-open="loadSeccionesDetalle(seccion.cEmp, seccion.codSeccion)">
                                        <md-option ng-value="record" ng-repeat="record in secciones_det">{{record.descripcion}}</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control border-input" placeholder="Descripción" ng-model="seccion.descripcion_final" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <legend>Detalle de la Cotización</legend>
            <div class="card">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <md-button class="md-icon md-icon-button-png" ng-click="addItemDetalle()">
                                <md-tooltip>Agregar Registro</md-tooltip>
                                <img src="img/agregar 1.png" alt="Agregar">
                            </md-button>
                            <md-button class="md-icon md-icon-button-png">
                                <md-tooltip>Editar Registro</md-tooltip>
                                <img src="img/editar 2.png" alt="Editar">
                            </md-button>
                            <md-button class="md-icon md-icon-button-png">
                                <md-tooltip>Eliminar Registro</md-tooltip>
                                <img src="img/eliminar 2.png" alt="Editar">
                            </md-button>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Articulo</label>
                                        <md-select placeholder="Articulos" ng-model="selectedArticulo" md-on-close="clearArticulosFilter()">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchArticulo" type="search" placeholder="Buscar..." class="demo-header-searchbox md-text form-control"
                                                    style="width: 100%">
                                            </md-select-header>
                                            <md-option ng-value="articulo" ng-repeat="articulo in articulos | filter:searchArticulo">{{articulo.cod}} - {{articulo.nom}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input class="form-control border-input" placeholder="Cantidad" type="number" ng-model="selectedArticulo.cantidad">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Precio Lista</label>
                                        <input class="form-control border-input" placeholder="Precio de Lista" type="number" ng-model="selectedArticulo.precio_lista"
                                            ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Precio Venta</label>
                                        <input class="form-control border-input" placeholder="Precio de Venta" type="number" ng-model="selectedArticulo.precio_venta">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>% Descuento</label>
                                        <input class="form-control border-input" placeholder="% Descuento" type="number" ng-model="selectedArticulo.descuento">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selectedTable" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column md-order-by="cod" md-desc style="width: 10%;">
                                <span>Código</span>
                            </th>
                            <th md-column md-order-by="nom" style="width: 40%;">
                                <span>Nombre</span>
                            </th>
                            <th md-column md-order-by="cantidad" style="width: 20%;">
                                <span>Cantidad</span>
                            </th>
                            <th md-column md-order-by="precio_lista" style="width: 10%;">
                                <span>Precio Lista</span>
                            </th>
                            <th md-column md-order-by="precio_venta" style="width: 10%;">
                                <span>Precio Venta</span>
                            </th>
                            <th md-column md-order-by="descuento" style="width: 10%;">
                                <span>% Descuento</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="record" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="record in cot_det | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{record.cod}}</td>
                            <td md-cell>{{record.nom}}</td>
                            <td md-cell>{{record.cantidad | number: 2}}</td>
                            <td md-cell>{{record.precio_lista | number: 2}}</td>
                            <td md-cell>{{record.precio_venta | number: 2}}</td>
                            <td md-cell>{{record.descuento | number: 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{queryCotSecciones.count}}"
                md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"
                md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
            <legend>Pie de la Cotización</legend>
            <div ng-repeat="seccion in secciones | filter:{tipoSeccion:'PIE'}">
                <div class="card">
                    <div class="panel-body">
                        <h4>{{seccion.nombreSec}}</h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Selecione contenido para {{seccion.nombreSec}}</label>
                                    <md-select placeholder="Contenido" ng-model="seccion.seleccionado" ng-change="setDescripcion($index+1,seccion.seleccionado.descripcion)"
                                        md-on-open="loadSeccionesDetalle(seccion.cEmp, seccion.codSeccion)">
                                        <md-option ng-value="record" ng-repeat="record in secciones_det">{{record.descripcion}}</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control border-input" placeholder="Descripción" ng-model="seccion.descripcion_final" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
        <script src="angular-sweetalert/SweetAlert.min.js"></script>
        <script src="sweetalert/lib/sweet-alert.min.js"></script>
        <!-- module -->
        <script src="js/cotizaciones.js"></script>
        <script src="js/utils.js"></script>


</body>

</html>