<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="sweetalert/lib/sweet-alert.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/paper-dashboard.css" />
    <link rel="stylesheet" href="css/refer.css" />
    <link rel="stylesheet" href="css/icon.css" />
    <link rel="stylesheet" href="css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">

</head>

<body ng-app="App" ng-cloak ng-controller="Ctrl">
    <div class="panel-body principal-panel">
        <nav class="navbar navbar-default dashboard-title">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">{{titulo_formulario}}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="open">
                            <a class="dropdown-toggle" href="" aria-expanded="true" ng-click="grabarCotizacion()">
                                <img src="img/guardar blanco.png" alt="Guardar" style="height: 25px">
                                <p>Guardar</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-show="isLoading" class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                Cargando, Espere por favor...
            </div>
        </div>
        <div class="panel-body" ng-show="!isLoading">
            <legend>Encabezado de la Cotización</legend>
            <div class="card">
                <div class="panel-body">
                    <legend>Datos de Cabecera</legend>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Agencia</label>
                                <md-select placeholder="Agencia" ng-model="cot_enc.cAgr">
                                    <md-option ng-value="record.cAge" ng-repeat="record in agencias">{{record.cAge}} - {{record.nom}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Criterio</label>
                                <md-select placeholder="Criterio" ng-model="cot_enc.criVenta" md-on-close="clearSelectFilter()">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchCriterio" type="search" placeholder="Buscar..." class="demo-header-searchbox md-text form-control"
                                            style="width: 100%" ng-keydown="$event.stopPropagation()" force-select-focus>
                                    </md-select-header>
                                    <md-option ng-value="record" ng-repeat="record in criterios | filter:searchCriterio">{{record.cri}} - {{record.des}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Incoterm</label>
                                <md-select placeholder="Incoterm" ng-model="cot_enc.incoterm" md-on-close="clearSelectFilter()" ng-change="cargarCostosIncoterm()">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchIncoterm" type="search" placeholder="Buscar..." class="demo-header-searchbox md-text form-control"
                                            style="width: 100%" ng-keydown="$event.stopPropagation()" force-select-focus>
                                    </md-select-header>
                                    <md-option ng-value="record.codIncoterm" ng-repeat="record in incoterms | filter:searchIncoterm">{{record.codIncoterm}} - {{record.nombre}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tercero</label>
                                <md-select placeholder="Tercero" ng-model="cot_enc.nIde" md-on-close="clearSelectFilter()">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTercero" type="search" placeholder="Buscar..." class="demo-header-searchbox md-text form-control"
                                            ng-keydown="$event.stopPropagation()" force-select-focus>
                                    </md-select-header>
                                    <md-option ng-value="record.nIde" ng-repeat="record in terceros | filter:searchTercero">{{record.nIde}} - {{record.nombre}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Sucursal</label>
                                <md-select placeholder="Sucursal" ng-model="cot_enc.cSuc" md-on-open="cargarSucursales()">
                                    <md-option ng-value="record.cSuc" ng-repeat="record in sucursales">{{record.cSuc}} - {{record.nom}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Idioma</label>
                                <md-select placeholder="Idioma" ng-model="cot_enc.idioma">
                                    <md-option ng-value="record.idioma" ng-repeat="record in idiomas">{{record.idioma}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Dias Validez</label>
                                <input class="form-control form-control-sm border-input" placeholder="Dias de Validez" type="number" ng-model="cot_enc.diasValidez">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="tieneCostos">
                        <div class="col-md-12">
                            <legend>Costos Adicionales/Cargos de la Cotización</legend>
                            <div class="row">
                                <div class="col-md-3" ng-repeat="costo in costosAdic | filter:{facCostosAdic: {moneda : cot_enc.moneda}}">
                                    <div class="form-group">
                                        <label>{{costo.facCostosAdic.nombre}}</label>
                                        <input class="form-control form-control-sm border-input" placeholder="Digite Valor" type="text" ng-model="costo.valor" ui-number-mask="2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="seccion in secciones | filter:{tipoSeccion:'ENC'}">
                <div class="card">
                    <div class="panel-body">
                        <h4>{{seccion.nombreSec}}</h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Selecione contenido para {{seccion.nombreSec}}</label>
                                    <md-select placeholder="Contenido" ng-model="seccion.seleccionado" ng-change="setDescripcion($index+1,seccion.seleccionado.descripcion)"
                                        md-on-open="loadSeccionesDetalle(seccion.cEmp, seccion.codSeccion)">
                                        <md-option ng-value="record" ng-repeat="record in secciones_det">{{record.descripcion}}</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control border-input" placeholder="Descripción" ng-model="seccion.descripcion_final" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <legend>Detalle de la Cotización</legend>
            <div class="card">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2" style="padding-top: 20px">
                            <md-button class="md-icon md-icon-button-png" ng-click="addItemDetalle()">
                                <md-tooltip>Agregar Registro</md-tooltip>
                                <img src="img/agregar 1.png" alt="Agregar" style="height: 25px">
                            </md-button>
                            <md-button class="md-icon md-icon-button-png" ng-click="editItemDetalle()">
                                <md-tooltip>Editar Registro</md-tooltip>
                                <img src="img/editar 2.png" alt="Editar" style="height: 25px">
                            </md-button>
                            <md-button class="md-icon md-icon-button-png" ng-click="deleteItemDetalle()">
                                <md-tooltip>Eliminar Registro</md-tooltip>
                                <img src="img/eliminar 2.png" alt="Editar" style="height: 25px">
                            </md-button>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Articulo</label>
                                        <md-select placeholder="Articulo" ng-model="selectedArticulo" ng-change="buscarPrecioVenta(selectedArticulo.cEmp, selectedArticulo.cod)"
                                            md-on-close="clearSelectFilter()" ng-disabled="isDisabled">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchArticulo" type="search" placeholder="Buscar..." class="demo-header-searchbox md-text form-control"
                                                    style="width: 100%" ng-keydown="$event.stopPropagation()" force-select-focus>
                                            </md-select-header>
                                            <md-option ng-value="articulo" ng-repeat="articulo in articulos | filter:searchArticulo">{{articulo.cod}} - {{articulo.nom}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input class="form-control form-control-sm border-input" placeholder="Cantidad" type="text" ng-model="selectedDetalle.cantidad"
                                            ui-number-mask="2">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Precio Lista</label>
                                        <input class="form-control form-control-sm border-input" placeholder="Precio de Lista" type="text" ng-model="selectedDetalle.precio_lista"
                                            ng-disabled="true" ui-number-mask="2">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Precio Venta</label>
                                        <input class="form-control form-control-sm border-input" placeholder="Precio de Venta" type="text" ng-model="selectedDetalle.precio_venta"
                                            ui-number-mask="2">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>% Descuento</label>
                                        <input class="form-control form-control-sm border-input" placeholder="% Descuento" type="number" ng-model="selectedDetalle.descuento">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selectedTable" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column md-order-by="cod" md-desc style="width: 10%;">
                                <span>Código</span>
                            </th>
                            <th md-column md-order-by="nom" style="width: 40%;">
                                <span>Nombre</span>
                            </th>
                            <th md-column md-order-by="cantidad" style="width: 20%;">
                                <span>Cantidad</span>
                            </th>
                            <th md-column md-order-by="precio_lista" style="width: 10%;">
                                <span>Precio Lista</span>
                            </th>
                            <th md-column md-order-by="precio_venta" style="width: 10%;">
                                <span>Precio Venta</span>
                            </th>
                            <th md-column md-order-by="descuento" style="width: 10%;">
                                <span>% Descuento</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="record" md-on-select="showEditarTable" md-on-deselect="clearEditarTable" md-auto-select="options.autoSelect"
                            ng-repeat="record in cot_det | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{record.cod}}</td>
                            <td md-cell>{{record.nom}}</td>
                            <td md-cell>{{record.cantidad | number: 2}}</td>
                            <td md-cell>{{record.precio_lista | number: 2}}</td>
                            <td md-cell>{{record.precio_venta | number: 2}}</td>
                            <td md-cell>{{record.descuento | number: 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{cot_det.length}}"
                md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"
                md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
            <legend>Pie de la Cotización</legend>
            <div ng-repeat="seccion in secciones | filter:{tipoSeccion:'PIE'}">
                <div class="card">
                    <div class="panel-body">
                        <h4>{{seccion.nombreSec}}</h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Selecione contenido para {{seccion.nombreSec}}</label>
                                    <md-select placeholder="Contenido" ng-model="seccion.seleccionado" ng-change="setDescripcion($index+1,seccion.seleccionado.descripcion)"
                                        md-on-open="loadSeccionesDetalle(seccion.cEmp, seccion.codSeccion)">
                                        <md-option ng-value="record" ng-repeat="record in secciones_det">{{record.descripcion}}</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control border-input" placeholder="Descripción" ng-model="seccion.descripcion_final" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
        <script src="angular-sweetalert/SweetAlert.min.js"></script>
        <script src="sweetalert/lib/sweet-alert.min.js"></script>
        <script src="node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
        <!-- module -->
        <script src="js/cotizaciones.js"></script>
        <script src="js/utils.js"></script>


</body>

</html>