<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/lib/angular-material.css">
    <link rel="stylesheet" href="css/lib/angular-material-data-table/md-data-table.css" />
    <link rel="stylesheet" href="css/lib/sweetalert2.css">
    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/lib/paper-dashboard.css" />
    <link rel="stylesheet" href="css/lib/base.css" />
    <link rel="stylesheet" href="css/lib/icon.css" />
    <link rel="stylesheet" href="css/lib/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/lib/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">
</head>

<body ng-app="App" ng-cloak ng-controller="embalajeController">
    <div class="panel-body principal-panel">
        <div ng-include="'structure/title.html'"></div>
        <div class="card">
            <div class="content">
                <md-toolbar class="md-table-toolbar md-default" aria-hidden="false">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Embalajes</h2>
                        <div flex="" class="flex"></div>
                        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showAdd()" aria-label="Agregar">
                            <md-tooltip>Agregar Registro</md-tooltip>
                            <md-icon md-font-icon="fas fa-plus"></md-icon>
                            <div class="md-ripple-container"></div>
                        </button>
                        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showEdit()" aria-label="Editar">
                            <md-tooltip>Editar Registro</md-tooltip>
                            <md-icon md-font-icon="fas fa-pen"></md-icon>
                            <div class="md-ripple-container"></div>
                        </button>
                        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete()" aria-label="Eliminar">
                            <md-tooltip>Eliminar Registro</md-tooltip>
                            <md-icon md-font-icon="fas fa-trash"></md-icon>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                </md-toolbar>
                <md-table-container>
                    <table id="incotermTable" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected"
                        md-progress="promise">
                        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                            <tr md-row>
                                <th md-column md-order-by="codigo" md-desc style="width: 20%;">
                                    <span>Código</span>
                                </th>
                                <th md-column md-order-by="nombre" style="width: 80%;">
                                    <span>Nombre</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="record" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="record in query_incoterm.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                <td md-cell>{{record.cEmb}}</td>
                                <td md-cell>{{record.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{query_incoterm.count}}"
                    md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"
                    md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
            </div>
        </div>
    </div>
    <!--Frames-->
    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog aria-label="Editar Embalaje">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Editar Embalaje</h2>
                        <span flex></span>                        
                    </div>
                </md-toolbar>          
                <md-dialog-content>
                    <div class="card">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Código</label>
                                        <input class="form-control border-input" ng-disabled="true" ng-model="editEmbalaje.cEmb" placeholder="Código" type="text">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input class="form-control border-input" ng-model="editEmbalaje.nombre" placeholder="Nombre" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
          
                <md-dialog-actions layout="row">                                        
                    <md-button class="md-primary md-raised edgePadding" ng-click="action('OK')">Aceptar</md-button>
                    <md-button class="md-primary md-raised edgePadding" ng-click="action('CANCEL')">Cancelar</md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="dialog2.tmpl.html">
        <md-dialog aria-label="Adicionar Embalaje">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Adicionar Embalaje</h2>
                        <span flex></span>                        
                    </div>
                </md-toolbar>          
                <md-dialog-content>
                    <div class="card">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Código</label>
                                        <input class="form-control border-input" ng-model="addEmbalaje.cEmb" placeholder="Código" type="text">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input class="form-control border-input" ng-model="addEmbalaje.nombre" placeholder="Nombre" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
          
                <md-dialog-actions layout="row">                                        
                    <md-button class="md-primary md-raised edgePadding" ng-click="action('OK')">Aceptar</md-button>
                    <md-button class="md-primary md-raised edgePadding" ng-click="action('CANCEL')">Cancelar</md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/lib/angular-1.7.2/angular.js"></script>
    <script src="js/lib/angular-1.7.2/angular-animate.min.js"></script>
    <script src="js/lib/angular-1.7.2/angular-aria.min.js"></script>
    <script src="js/lib/angular-1.7.2/angular-messages.min.js"></script>
    <script src="js/lib/angular-material/angular-material.js"></script>
    <!-- External Libraries -->
    <script type="text/javascript" src="js/lib/angular-material-data-table/md-data-table.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-sweetalert2/sweetalert2.js"></script>
    <script type="text/javascript" src="js/lib/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
    <!-- module -->
    <script src="js/lib/utils.js"></script>
    <script src="js/embalaje.js"></script>
</body>

</html>