<html lang="es" ng-app="MenuJSP7">

<head>
    <meta charset="utf-8" />
    <title>Menu Principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel="stylesheet" href="css/lib/angular-material-data-table/md-data-table.css" />
    <link rel="stylesheet" href="css/lib/sweetalert2.css">
    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/lib/paper-dashboard.css" />
    <link rel="stylesheet" href="css/lib/base.css" />
    <link rel="stylesheet" href="css/lib/icon.css" />
    <link rel="stylesheet" href="css/lib/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/lib/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/menu/angular-material-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/menu/angular-material-badge.min.css" type="text/css" />
    <link rel="stylesheet" href="css/menu/prism.css" type="text/css" />
    <link rel="stylesheet" href="css/menu/angular-material-multilevel-menu.css" type="text/css" />
    <link rel="stylesheet" href="css/menu/menu.css" type="text/css" />
</head>

<body ng-controller="MenuJSP7" layout="column" ng-cloak>
    <md-toolbar md-colors="{background: 'amber-500'}">
        <md-truncate class="md-toolbar-tools">
            <!-- <md-button class="md-icon-button" ng-click="toggle()" hide-gt-sm aria-label="Toogle Menu"> -->
            <md-button class="md-icon-button" ng-click="toggle()" aria-label="Toogle Menu">
                <ng-md-icon icon="{{icon}}"></ng-md-icon>
            </md-button>
            <img class="logo" src="img/logo-solagro.png">
            <h2 class="md-title" flex md-truncate>Menu Principal</h2>
            <!-- <md-button class="md-icon-button">
                <md-icon md-font-icon="fas fa-cog"></md-icon>
                <md-tooltip>Cerrar Sesión</md-tooltip>
            </md-button> -->
            <md-menu md-offset="0 50">
                <md-button aria-label="Opciones" class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-icon md-font-icon="fas fa-cog"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="cerrarSesion()">
                            <md-icon md-font-icon="fas fa-sign-out-alt"></md-icon>
                            Cerrar Sesión
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-truncate>
    </md-toolbar>
    <div ng-show="isLoading" class="progress" style="margin-top: 5px;">
        <div class="progress-bar progress-bar-striped active" style="width: 100%">
            Cargando...
        </div>
    </div>
    <md-content ng-show="!isLoading" layout="row" flex>
        <!-- <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"> -->
        <md-sidenav class="md-sidenav-left" md-component-id="left">
            <div>
                <md-toolbar md-theme="altTheme">
                    <h2 style="margin-top: 10px !important; margin-bottom: 10px !important" class="md-title text-center">Bienvenido<br/>{{usuario.nombre}}</h2>
                </md-toolbar>
            </div>
            <md-divider></md-divider>
            <md-multi-level-menu id="primary" md-title="Menu JSP7" md-back="Previous" md-breadcrumb="false">
            </md-multi-level-menu>
            <md-divider></md-divider>
            <!-- <md-panel layout="column" layout-margin layout-padding>
                <md-input-container layout-fill>
                    <md-select ng-model="style" aria-label="style">
                        <md-option ng-value="1">Replace</md-option>
                        <md-option ng-value="2">Accordion</md-option>
                    </md-select>
                </md-input-container>
                <md-switch ng-model="breadcrumb" ng-disabled="style == 2">Show breadcrumb</md-switch>
                <md-input-container layout-fill>
                    <input type="number" ng-model="count" aria-label="count"></input>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="test()" layout-fill>Dynamic test</md-button>
                <md-divider></md-divider>
                <md-button class="md-raised md-primary" ng-click="menu()" layout-fill>Bottom bar</md-button>
            </md-panel> -->
        </md-sidenav>
        <md-content flex style="overflow-y: overlay;">
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" style="overflow-y: overlay;">
                <md-tab ng-repeat="tab in tabs">
                    <md-tab-label>
                        <md-tooltip>{{tab.title}}</md-tooltip>
                        <div class="text-tab">{{tab.title}}</div>
                        <i class="fa fa-times-circle" ng-click="eliminar($index)"></i>
                    </md-tab-label>
                    <md-tab-body>
                        <iframe class='inner-frame' id='page-content-{{$index}}' height="800px" width="100%" ng-src='{{ trustSrc(tab.contentUrl) }}'
                            noresize="noresize" style=" overflow-x: hidden;"></iframe>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <!-- <script type="text/ng-template" id="bottom-sheet-template">
               <md-bottom-sheet class="md-list">
                  <md-multi-level-menu id="secondary"
                                       md-back="Back"
                                       md-breadcrumb="false"
                                       md-style-replace>
                  </md-multi-level-menu>
               </md-bottom-sheet>
            </script> -->
        </md-content>
    </md-content>
    <!-- Scripts dependencias -->
    <script src="js/menu/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular-1.7.2/angular.js"></script>
    <script src="js/lib/angular-1.7.2/angular-aria.min.js"></script>
    <script src="js/lib/angular-1.7.2/angular-animate.min.js"></script>
    <script src="js/lib/angular-material/angular-material.min.js"></script>
    <script src="js/menu/angular-material-icons.min.js"></script>
    <script src="js/menu/angular-material-badge.min.js"></script>
    <script src="js/menu/angular-route.min.js"></script>
    <script src="js/menu/svg-morpheus.js"></script>
    <script src="js/menu/prism.js" data-manual></script>
    <script src="js/menu/prism-javascript.min.js"></script>
    <script src="js/menu/prism-markup.min.js"></script>
    <script src="js/menu/prism-bash.min.js"></script>
    <script src="js/menu/marked.js"></script>
    <script src="js/menu/angular-marked.min.js"></script>
    <!-- Scripts Menu -->
    <script src="js/menu/angular-material-multilevel-menu.js"></script>
    <script src="js/lib/utils.js"></script>
    <script src="js/menu/menu.js"></script>
</body>

</html>
