<!DOCTYPE html>
<html>

<head>
  <title>Informe de Base de Datos de Clientes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="css/lib/angular-material.min.css">
  <link rel="stylesheet" href="css/lib/angular-material-data-table/md-data-table.css" />
  <link rel="stylesheet" href="css/lib/sweetalert2.min.css">
  <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
  <link rel="stylesheet" href="css/lib/paper-dashboard.css" />
  <link rel="stylesheet" href="css/lib/base.css" />
  <link rel="stylesheet" href="css/lib/fontawesome-free-5.8.1-web/css/all.min.css" rel="stylesheet">
</head>

<body ng-app="App" ng-controller="Ctrl">
  <div ng-if="executingReport" class="container-loading-report">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <div class="bottom-block-loading-report">
      <span>Cargando Reporte...</span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" ng-show="!executingReport">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <md-toolbar class="md-hue-2 _md _md-toolbar-transitions">
          <div layout="row">
            <md-toolbar-filler layout="row" layout-align="center center">
              <md-icon md-font-icon="fas fa-chart-pie"></md-icon>
            </md-toolbar-filler>
            <div class="md-toolbar-tools">
              <h2 flex="" md-truncate="" class="md-truncate flex">Informe de Base de Datos de Clientes</h2>
              <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="runReport()" aria-label="Agregar">
                <md-tooltip>Ejecutar</md-tooltip>
                <md-icon md-font-icon="fas fa-arrow-circle-right"></md-icon>
                <div class="md-ripple-container"></div>
              </button>
            </div>
          </div>
        </md-toolbar>
        <div class="card">
          <form name="mainForm" class="panel-body">
            <div class="row">
              <div class="col-md-offset-1 col-md-10 text-center">
                <div class="well">Exportar base de datos de clientes en formato XLS.</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="js/lib/angular-1.7.2/angular.min.js"></script>
  <script src="js/lib/angular-1.7.2/angular-animate.min.js"></script>
  <script src="js/lib/angular-1.7.2/angular-aria.min.js"></script>
  <script src="js/lib/angular-1.7.2/angular-messages.min.js"></script>
  <script src="js/lib/angular-material/angular-material.min.js"></script>
  <!-- External Libraries -->
  <script type="text/javascript" src="js/lib/angular-material-data-table/md-data-table.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-sweetalert2/sweetalert2.min.js"></script>
  <!-- module -->
  <script src="js/lib/utils.js"></script>
  <script src="js/rep_base_datos_clientes.js"></script>
</body>

</html>
