md-content.md-default-theme {
  background-color: #ededed;
}

md-divider {
  color: #ededed;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

.open_menu{
  transform: rotate(180deg);
}
.item-menu{
  border-bottom: 1px solid #e1dada;
}

md-item-content{
    cursor: pointer;
}
.loading {
	
}
.datos{
font-size: 16px !important;
}
.loading-panel {
    position : fixed; 
    z-index : 99999; 
    left : 0; 
    top : 0; 
    width : 100%; 
    height : 100%; 
    background:  #fff no-repeat center url(/MinSaludPdit/resources/img/loading-image.gif);	
}

.loading-panel2 {
    position : fixed; 
    z-index : 99999; 
    left : 0; 
    top : 0; 
    width : 100%; 
    height : 100%; 
    background:  rgba(0, 0, 0, 0.5) no-repeat center url(/MinSaludPdit/resources/img/loading-image.gif);	
}

.img-perfil{
	margin: 10px;
	border-radius: 50%;
}

.div-image-minsalud {
	background-image: url(/MinSaludPdit/resources/img/minsalud-logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 40%;
}
