input[type="text"].form-control, input[type="email"].form-control, input[type="password"].form-control, 
    input[type="number"].form-control  {
    height: 30px !important;
}

nav {
    border-radius: 10px !important;
}

div.label.ng-binding {
    color: rgba(0,0,0,.54) !important;
}

.principal-panel {
    background-color: #f4f3ef !important;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(33, 150, 243) !important;
}

md-select {
    margin-top: 0px !important;
}

.dashboard-title {
    background-color: #434040;    
}

.navbar-brand {
    color: #f4f3ef !important;
}

.md-icon-button-png {
    
    min-width: 0;
    min-height: 0;
    line-height: normal;
  }