@font-face{
   font-family: PoppinsBlack;
   src: url(../fonts/POPPINS-BLACK.OTF);
}

@font-face{
   font-family: PoppinsBlackItalic;
   src: url(../fonts/POPPINS-BLACKITALIC.OTF);
}

@font-face{
   font-family: PoppinsBold;
   src: url(../fonts/POPPINS-BOLD.OTF);
}

@font-face{
   font-family: PoppinsBoldItalic;
   src: url(../fonts/POPPINS-BOLDITALIC.OTF);
}

@font-face{
   font-family: PoppinsExtraBold;
   src: url(../fonts/POPPINS-EXTRABOLD.OTF);
}

@font-face{
   font-family: PoppinsExtraBoldItalic;
   src: url(../fonts/POPPINS-EXTRABOLDITALIC.OTF);
}

@font-face{
   font-family: PoppinsExtraLight;
   src: url(../fonts/POPPINS-EXTRALIGHT.OTF);
}

@font-face{
   font-family: PoppinsExtraLightItalic;
   src: url(../fonts/POPPINS-EXTRALIGHTITALIC.OTF);
}

@font-face{
   font-family: PoppinsItalic;
   src: url(../fonts/POPPINS-ITALIC.OTF);
}

@font-face{
   font-family: PoppinsLight;
   src: url(../fonts/POPPINS-LIGHT.OTF);
}

@font-face{
   font-family: PoppinsLightItalic;
   src: url(../fonts/POPPINS-LIGHTITALIC.OTF);
}

@font-face{
   font-family: PoppinsMedium;
   src: url(../fonts/POPPINS-MEDIUM.OTF);
}

@font-face{
   font-family: PoppinsMediumItalic;
   src: url(../fonts/POPPINS-MEDIUMITALIC.OTF);
}

@font-face{
   font-family: PoppinsRegular;
   src: url(../fonts/POPPINS-REGULAR.OTF);
}

@font-face{
   font-family: PoppinsSemiBold;
   src: url(../fonts/POPPINS-SEMIBOLD.OTF);
}

@font-face{
   font-family: PoppinsSemiBoldItalic;
   src: url(../fonts/POPPINS-SEMIBOLDITALIC.OTF);
}

@font-face{
   font-family: PoppinsThin;
   src: url(../fonts/POPPINS-THIN.OTF);
}

@font-face{
   font-family: PoppinsThinItalic;
   src: url(../fonts/POPPINS-THINITALIC.OTF);
}

body{
	font-family: PoppinsRegular;
}
.shop-title h3{
	font-family: PoppinsSemiBold;
}

.container-fluid.main-banner {
    background-image: url(/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.logo {
    background-image: url('/img/logoproductdefault.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	width: 70px;
    height: 70px;
}

.header {
    display: flex;
    align-items: center;
	padding: 3% 10% 0 10%;
}
li.menu-item.ng-scope {
    display: inline-block;
    margin: 0 30px;
}
ul.top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-item a {
    font-size: 1.2em;
    color: #F0F0F0;
    font-family: PoppinsSemiBold;
}
a{
    color: inherit;
}
.login-button {
	width: 200px;
    margin: auto;
    margin-right: 0;
    color: #f0f0f0;
    font-size: 1.2em;
    border: 2px solid;
    padding: 10px;
    background-image: url('/img/iniciar sesion blanco.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
    cursor:pointer;
}
.banner-title{
	padding: 10%;
}

.banner-text {
    color: #f0f0f0;
    font-size: 5em;
    font-family: PoppinsBold;
    line-height: 1;
    width: 50%;
}
.see-more{
    width: 150px;
    margin: 20px 0;
    margin-right: 0;
    color: #f0f0f0;
    font-size: 1.2em;
    border: 2px solid;
    padding: 10px;
    cursor:pointer;    
    font-family: PoppinsRegular;
}

.active-a{
	border-bottom: 5px solid;
}
.shop-section{
	padding: 3% 10%;
    padding-bottom: 1%;
    background-color: #fff;
    margin: 0;
    border-bottom: 2px solid #f0f0f0;
}


}
.shop-title h3{
	color: #434040;
}
.search-input input {
    border: none;
    background-color: #f0f0f0;
    padding: 15px;
    background-image: url('/img/buscar.png');
    color:#89878C;
    width: 100%;
    background-position: 90% center;
    background-repeat: no-repeat;
}

.align-items-center{
	display:flex;
	align-items:center;
}
.underline{
	margin-top:30px;
	border-top:2px solid #f0f0f0;
}
.ordenar-container{
	color:#434040;
	border: 2px solid #f0f0f0;
    padding: 15px 10px;
    width: 60%;
}
.filtrar-container{
    border: none;
    background-color: #f0f0f0;
    padding: 18px 10px;
    width: 100%;
    margin: 2px 0;
}
.filtrar-container md-select .md-select-value, .filtrar-container md-select .md-select-value .md-select-icon{
		color:#89878C;
}
.ordenar-container md-select .md-select-value, .ordenar-container md-select .md-select-value .md-select-icon{
    color:#434040;
}
.zero-padding{
	padding:0;
}
.filtrar-text{
	font-size:1.2em;

}
.filtrar{
}
.filtrar-icon{
	height:50px;
    background-image: url('/img/filtrar.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100% center;	
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border:none !important;
}
.product-image{
	background-color:#EDEDED;
    background-image: url('/img/logoproductde.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:300px;
}

.producto{
    width: 30%;
    margin: 1.5%;
    margin-bottom: 3%;
    display: inline-block;
    font-family:PoppinsExtraLight;
    cursor:pointer;
}
.login-user{
	text-transform:uppercase;
	font-size:1.3em;
	color:#f0f0f0;
    font-family: PoppinsSemiBold;
	cursor:pointer;
}
.see{
    background-image: url('../img/ver.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    width: 40px;
        cursor:pointer;
    height: 40px;
}
.cart{
    background-image: url('../img/cart.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    width: 40px;
        cursor:pointer;
    height: 40px;
}
.favorite{
    background-image: url('../img/favorite.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    cursor:pointer;
    width: 40px;
    height: 40px;
}
.product-footer{
	background-color:#32903F;
}
.product-name{
	font-size:1.5em;
    margin: 5px 0;
    cursor:pointer;
}
.see-more-product{
	color:#32903F;
    font-size: 1.3em;
    margin: 5px 0;
        cursor:pointer;
}
.product-descrip {
    padding: 10px;
    cursor:pointer;
}
.full-star{
	background-image: url('../img/estrella blanca.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    width: 30px;
    height: 30px;
    cursor:pointer;
}
.empty-star{
	background-image: url('../img/estrella silueta.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    width: 30px;
    height: 30px;
    cursor:pointer;    
}
.ratings{
    width: 47%;
	height: 40px;
}
.best-score-products {
    padding: 30px 0 10px 0;
    font-size: 1.3em;
}
.green-line{
	border-top: 4px solid #32903F;
	margin-bottom: 15px;
}

.top-product-image{
	background-color:#EDEDED;
    background-image: url('/img/logoproductdefault.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	height: 90px;
}
.full-top-star{
	background-image: url('../img/estrella amarilla.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    width: 30px;
    height: 30px;
    cursor:pointer;
}

.empty-top-star{
	background-image: url('../img/estrella silueta amarilla.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;	
    width: 30px;
    height: 30px;
    cursor:pointer;
}

.top-product {
    margin: 10px 0;
    font-family: PoppinsLight;
}
.top-product-more{
	color:#32903F;
}
.page{
    border: 2px solid #f0f0f0;
    padding: 10px 15px;
    text-align: center;
    width: 45px;
    margin: 0 5px;
}
.page:hover, .active{
	background-color:#32903F;
	color:white;
	cursor:pointer;
}
.information-section{
	background-color:#32903F;
	color:white;
	padding:3% 10%;
	margin: auto;
}
.information-section label{
	display:block;
	margin:0;
	width:100%;
}
.pregunta-icon{
	background-image: url('../img/pregunta.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 center;
}
.phone-icon{
	background-image: url('../img/llamanos.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 center;
    height: 60px;
}
.ubication-icon{
	background-image: url('../img/ubicacion.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 center;
}
.information-description{
    padding-left: 22%;
    line-height: 1.8em;
}
.information-section label:nth-child(1){
	font-size:1em;
}
.information-section label:nth-child(2), .information-section label:nth-child(3){
	font-family:PoppinsExtraLight;
	font-size:1.3em;

}
.map-container{
	height:350px;
}
.map{
	height:100%;
}
.footer-container{
	padding:3% 10%;
	background-color:#231F20;
	color:#fff;
	    font-family: PoppinsExtraLight;
}
.footer-title{
	margin:10px 0;
}
.footer-title{
    line-height: 1.5em;
    font-family: PoppinsRegular;
}
.footer-description{
	line-height: 1.5em;
	font-size:1em;
	margin: 20px 0;
}
.facebook{
	background-image: url('../img/facebook.png');
}
.twitter{
	background-image: url('../img/twitter.png');
}
.instagram{
	background-image: url('../img/instagram.png');
}
.youtube{
	background-image: url('../img/youtube.png');
}
.google{
	background-image: url('../img/google.png');
}

.social-icon{
	background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#FFF;
    margin-right:5px;
    width:40px;
    height: 40px;
}
.service-text{
	display:inline-block;
	width:80%;
}
.service{
	margin:15px 0;
}
.service img{
	    vertical-align: top;
}
.information{
    border: 2px solid #fff;
    padding: 15px;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-position: 50px center;
    text-indent: 90px;
    width: 90%;
}
.call{
	background-image:url('../img/llamar.png');
}
.contact{
	background-image:url('../img/mensaje.png');
}
.download{
	background-image:url('../img/descargar catalogo.png');	
}
.row-aspsols{
	border-top:2px solid #3B393B;
	background-color:#231F20;
	margin: 0;
	padding: 1% 10%;
}
.asp-logo{
	background-image:url('../img/logo.png');	
	background-size: contain;
	background-repeat: no-repeat;
    background-position: 95% center;
    padding: 2% 0;
    color:transparent;
}
.copyright{
    padding: 2% 0;
}
.copyright-container{
	background-color: #3B393B;
	color:#D8D8D8;
	margin:0;
}

::-webkit-scrollbar {
  width:auto !important;
  height: 10px !important;
  background-color: #f0f0f0 !important;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07) !important;
}

::-webkit-scrollbar:hover {
  background-color: #eee !important;
}

::-webkit-scrollbar-thumb {
  min-height: 0.8em !important;
  min-width: 0.8em !important;
  background-color: rgb(50, 144, 63,.8) !important;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07) !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(50, 144, 63,.5) !important;
}

md-input-container label:not(.md-container-ignore) {
    position: absolute;
}

md-input-container.filtrar-container .md-placeholder, md-input-container.filtrar-container label:not(.md-no-float):not(.md-container-ignore) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 3px;
    padding-right: 0;
    z-index: 1;
    -webkit-transform: translate3d(0,28px,0) scale(1);
    transform: translate3d(0,28px,0) scale(0.75);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    max-width: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.pagination{
    width: 100% !important;
}

.pagination > ul{
    width: 100% !important;
}

.pagination ul > li > a{
    padding: 10px 17px;
    font-family: PoppinsLight;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #dddddd;
}

.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a{
	background-color: #32903f;
	color: white;
}

.pagination ul>li>a:hover{
	cursor: pointer;
}

.pagination ul>.active>a:hover{
	cursor: no-drop;
}

.pagination ul>.disabled>a:hover{
	cursor: no-drop;
}
