md-sidenav {
   position: static;
}

md-panel {
   display: block !important;
}

md-bottom-sheet {
   overflow: hidden;
}

.content {
   padding: 16px;
}

pre {
   word-wrap: break-word;
   white-space: pre-wrap;
}

md-tab-item {
    color: rgb(78, 80, 80) !important;
}

data-ng-model {
    width: 310px !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.toolbar-label {
    margin-bottom: 0px !important;
}

.text-tab {
    max-width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}

.logo {
    width: 64px;
    height: 64px;
    margin: 0 1%;
}
